@charset "utf-8";
/* CSS Document */
body{
    font-family: sans-serif, arial;
/*    background-image: url("../img/bg_green_02-01.jpg")*/
/*	line-height: 1.2;*/
}
/* +4915735995685 */
:root{
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    text-decoration: none
}
/* a:hover{
    color: firebrick;
} */
.mark_line{
/*    background-color: lightskyblue;*/
	background-image: linear-gradient(to left, #F5B041, #884EA0, #DC7633);
	width: 100%;
    height: 1em;
	margin: 0.4em 0;
	padding: inherit;
	float: left;
}
.all{
	float: left;
    font-size:3em;
	padding: 0.5em;
	text-align: center;
	width: 20%;
	border-radius: .2em;
}
.one{
    background-color: #FFB7B2;
}
.two{
    background-color: #FF9AA2;
}
.three{
 	background-color: #85C1E9;
}
.four{
    background-color:#FFDAC1;
}
.five{
    background-color: #E2F0CB;
}

.six {
	background-color: #B5EAD7;
}
.seven{
	background-color: #F8C471;
}


/* 第一行: one, three, five, two, six
第二行: two, five, seven, four, one
第三行: three, four, one, five, seven
第四行: four, one, two, six, three
第五行: five, seven, four, one, two
第六行: six, two, five, three, four
第七行: seven, six, three, five, one
第八行: one, five, six, seven, two */