@charset "utf-8";
/* CSS Document */
body{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
/*    background-image: url("../img/bg_green_02-01.jpg")*/
	line-height: 1.2;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none
}
a:hover{
    color: firebrick;
}
.title{
/*    border-width: 5px 0 5px 0;*/
/*    width: 20vmin;*/
}
.all{
    text-align: center;
    float: left;
/*    width: 20vmin;*/
}
.mark_line{
    background-color: lightskyblue;
    width: 100%;
    height: 8px;
/*    padding: 400px 0 0 0;*/
	float: left;
}
.one, .two, .three, .four, .five{
    font-size:2em;
/*	border: 2px solid yellow;*/
/*	border-radius: 3px;*/
/*	padding: 3px solid yellow;*/
	float: left;
	text-align: center;
	width: 20%;
}
.one{
    background-color: #f4f0e6;
}
.two{
    background-color: #d9d9f3;
}
.three{
    background-color: #ceefe4;
}
.four{
    background-color:#9dd3a8;
}
.five{
    background-color: #50C1E9;
}