:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Media

Display an image on the left and body content on the right.

Markup:
<div class="media">
    <img class="media__image" src="http://placehold.it/150x150" />
    <div class="media__body">
        <h4>Strength</h4>
        <p>
          Strength training is an important part of injury prevention. Focus on your core&mdash; 
          especially your abs and glutes.
        </P>
    </div>
</div>

警告 要牢记HTML片段中不能有空白行，因为对KSS来讲，空白行就意味着markup这部分结束了。
Styleguide Media
*/
/* 上两行必须是注释块的最后一行。如果没有这一行，KSS就会忽略整个注释块 */
/* 当更新样式表的时候，也需要相应地修改注释文档。把文档放在源代码里，这个过程就会很顺利。新增一个模块的时候，同时新增一个文档注释块，每次修改后都要重新运行npm run build命令，生成模式库的全新副本
KSS生成新页面的时候不会主动删除旧页面。如果重命名或者移动源码中的一部分文档，docs目录下的相应文件还在原地与新文件共存。我们刷新浏览器 时候，要确保不是在重新加载旧页面。 */
.media {
    padding: 1.5em;
    background-color: #eee;
    border-radius: 0.5em;
}

.media::after {
    content: "";
    display: block;
    clear: both;
}

.media__image {
    float: left;
    margin-right: 1.5em;
}

.media__body {
    overflow: auto;
    margin-top: 0;
}

.media__body > h4 {
    margin-top: 0;
}

/*Buttons

Buttons are available in a number of sizes and colors. You may mix and match any size with any color.

Markup:
<button class="button {{modifier_class}}">
    click here
</button>

.button--success -a green success button 
.button--danger -a red danger button 
.button--small -a small button 
.button--large -a large button 

 Styleguide Buttons */

 .button {
    padding: 1em 1.25em;
    border: 1px solid #265559;
    border-radius: 0.2em;
    background-color: transparent;
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
 }

 .button--success {
    border-color: #cfe8c9;
    color: #fff;
    background-color: #2f5926;

 }

 .button--danger {
    border-color: #e8c9c9;
    color: #fff;
    background-color: #a92323;
 }

 .button--small {
    font-size: 0.8rem;
 }

 .button--large {
    font-size: 1.2rem;
 }